nav {
  background-color: black;
  height: 4rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
  display: flex;
}

li + li {
  margin-left: 1rem;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
}
